body{
    background-color: rgb(16,16,16);
    color:rgb(255, 255, 255);
}

#name{
    /* position: relative;
    padding-left: 90px;
    font-size: 25px; */
    
}
.nav-items{
    display: inline-flex;
    padding-left: 550px;
}
.nav-items a{
    padding:10px;
    list-style: none;
    text-decoration: none;
    color: white;
}
p{
    font-size: xx-large;
    padding-left: 100px;
    
}
.button {
    background-color:rgb(16,16,16) ;
    border: none;
    color: white;
    padding: 20px;
}

#hero-text
{
    font-size: 0.90em;
}
.buttons{
    display: block;
    margin-top: 12px;
    margin-left:70px;
}
.buttons a{
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(192, 232, 113);
    color: black;
}

#button2{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(221, 228, 12);
    margin-left: 80px;
  
}
#button3{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.logo{
    position: relative;
    top:20px;
}
.sideimg{
    position: absolute;
    top:150px;
    left: 850px;
    width: 400px;
    height: 400px;
    
}
.footer{
    margin-top: 100px;
    height: 155px;
    width: 100%;
    background-color: white;
}
.one{
    margin-top: 10px;
    position: relative;
    
    height: 40px;
    width: 20%;
    background-color: white;
}

.two{
    margin-top: 10px;
    position: relative;
    top: 100px;
    left: 900px;
    right: 300px;
    height: 40px;
    width: 20%;
    background-color: white;
}
.three{
    margin-top: 10px;
    position: relative;
    
    height: 40px;
    width: 20%;
    background-color: white;
}
#navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}